<!DOCTYPE html>
<html>
<head>
    <title>{{ proyecto.nombre }}</title>
</head>
<body>
    <h1>Descripción {{ proyecto.nombre }}</h1>
    <p>{{ proyecto.descripcion }}</p>

    <h1>Tareas {{ proyecto.nombre }}</h1>
    <ul>
    {% for tarea in tareas %}
        <li><a href="{% url 'tarea_detalle' id=tarea.id %}">{{ tarea.nombre }}</a></li>
    {% endfor %}
    </ul>
    <a href="{% url 'proyecto_editar' id=proyecto.id %}">
        <button type="button">Editar Proyecto</button>
    </a>
    <br>
    <a href="{% url 'proyecto_borrar' id=proyecto.id %}">
        <button type="button">Eliminar Proyecto</button>
    </a>
    <br>
    <a href="{% url 'tarea_nueva' %}">
        <button type="button">Nueva Tarea</button>
    </a>
</body>
</html>
